<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="dashboard.css">
    <link rel="stylesheet" href="nav.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imagens/icon_sistem.png') }}" type="image/x-icon">
    <meta http-equiv="Cache-Control" content="no-store" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
</head>

<body>
    <nav>
        <form action="{{ url_for('logout') }}" method="POST">
            <button type="submit" class="navbar logout">Sair</button>
        </form>
        <a class="dem" href="{{ url_for('profile') }}">Perfil</a>
    </nav>


    <div class="formulario">
        <form id="buscar-form" onsubmit="Buscar(event)">
            <select name="saida" id="saida" required>
                <option value="" disabled selected>Saída</option>
                <option value="Minas Gerais">Minas Gerais</option>
                <option value="Colatina">Colatina</option>
            </select>
            <select name="destino" id="destino" required>
                <option value="" disabled selected>Destino</option>
                <option value="Vitória">Vitória</option>
                <option value="Rio de Janeiro">Rio de Janeiro</option>
            </select>
            <select name="sacos" id="sacos" required>
                <option value="" disabled selected>Quantidade de Sacos</option>
                <option value="320">320</option>
                <option value="360">360</option>
                <option value="440">440</option>
            </select>
            <button type="submit" class="button">Buscar</button>
        </form>
        <div id="alerta"></div>
    </div>

    <div id="tabela-container" style="display:none;">
        <div id="tabela" class="tabela">
            <div id="tabelaCorpo" class="tabela-corpo"></div>
        </div>
    </div>

    <script>

    </script>

</body>

</html>