<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imagens/icon_sistem.png') }}" type="image/x-icon">
    <title>Perfil de Usuário</title>
    <link rel="stylesheet" href="/static/nav.css">
    <style>

    </style>
</head>

<body>


    <body>
        <nav>
            <form action="{{ url_for('logout') }}" method="POST">
                <button type="submit" class="navbar logout">Sair</button>
            </form>
            <a class="dem" href="{{url_for('dashboard')}}">Dashboard</a>
            <div class="container">
                <div class="profile-card">

                    <button id="dados">Alterar dados</button>
                </div>
            </div>

            <script>

            </script>
    </body>

</html>