body {
    padding: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.formulario select,
.formulario button {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background: rgba(255, 255, 255);
    color: black;
    transition: background 0.3s, transform 0.2s;
    box-shadow: 0 0 2px white;
}

.formulario select:hover,
.formulario button:hover {
    background: rgba(255, 254, 254, 0.3);
    transform: scale(1.05);
}

#alerta {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    transition: opacity 0.5s ease;
    display: none; /* Adicionando display none para mensagens */
}

.tabela {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin-top: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background: #fff;
    color: black;
    padding: 20px;
    overflow-x: auto;
}

.tabela-linha {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    width: 100%;
}

.tabela-coluna {
    width: 45%;
    padding: 8px;
    text-align: left;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.tabela-coluna strong {
    font-weight: bold;
    color: red;
}

.tabela-coluna:nth-child(odd) {
    background-color: #f9f9f9;
}

@media (max-width: 768px) {
    .formulario {
        margin-top: 20px;
    }

    .tabela-linha {
        flex-direction: column;
    }

    .tabela-coluna {
        width: 100%;
        margin-bottom: 10px;
    }

    .tabela {
        width: 100%;
        padding: 10px;
    }
}

#tabela-container {
    display: none;
    animation: fadeIn 0.5s ease-in;
    text-transform: uppercase;
}

/* Estilos de botões e outros elementos */
#btn-central {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 12px;
}

#btn-central:hover {
    background-color: #45a049;
}

.tabela-coluna {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao-container {
    margin-left: auto;
}

.valores {
    margin-left: 10px;
}

/* Inicialmente, a mensagem de boas-vindas está visível */
p{
    color: white;
}

/* Classe para ocultar a mensagem de boas-vindas após a busca */

