body {
    background: url(/static/imagens/background_coffe.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.box {
    position: relative;
    text-align: center;
}

main {
    position: relative;
    margin: 180px auto;
}

h1 {
    font-size: 20pt;
    text-decoration: overline 2px;
    margin-top: 35px;
}

fieldset {
    background: white;
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: none;
}

#cadastro {
    color: red;
    text-shadow: 0px 0px 1px white;
    text-decoration: none;
}

#cadastro:hover {
    text-decoration: underline;
}

.inputBox,
.inputBtn {
    width: 230px;
    margin: auto;
    text-align: center;
    position: relative;
}

input {
    border-radius: 2px;
    padding: 5px 20px 5px 20px;
    outline: 0;
    border: 1;
    border-style: inset;
    border-width: 1px;
}

#submit {
    width: 80px;
    height: 30px;
    margin: auto;
    color: white;
    opacity: 80%;
    border-radius: 5px;
    background: rgb(36, 222, 36);
    border: none;
    margin: 20px;
}

#submit:hover {
    opacity: 100%;
    transform: scale(1.1);
    transition: 500ms ease;
}

label {
    margin: 0;
    font-size: 8pt;
    position: relative;
    right: 80px;
}

.inputBox i {
    position: absolute;
    cursor: pointer;
    top: 45%;
    right: 10%;
    color: #ccc;
}

#ver{
    width: 20px;
}